In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('/home/ctyever/repo_dev/scrapper/convenient_store_data/cu/house_goods.csv', names=['name', 'price'], header=0)

In [12]:
data.head(3)

              name   price
0  컴배트)에어졸프리즈400ml   8,000
1   세스코)에어졸워터330ml   6,900
2      엘지)푸린선쿠션15g  29,900

In [13]:
def split_item(x):
    item = x.split(')')[0]
    return item

In [14]:
def split_name(x):
    name = x.split(')')[1]
    return name

In [15]:
data['item'] = data['name'].apply(lambda x: split_item(x) )

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169 entries, 0 to 1168
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1169 non-null   object
 1   price   1169 non-null   object
 2   item    1169 non-null   object
dtypes: object(3)
memory usage: 27.5+ KB

In [16]:
data['name'] = data['name'].apply(lambda x: split_name(x) )

IndexError: list index out of range

In [9]:
data.head(3)

        name  price item
0  상디의볼케이노김밥  3,200    김
1     뉴대만식연유  2,600    샌
2  어인징베의참치마요  2,000    주

In [10]:
data.to_csv('/home/ctyever/repo_dev/scrapper/convenient_store_data/cu/convenient_meal_new.csv', sep=',', na_rep='NaN')

In [ ]:
data.info()

In [ ]:
data['item'].unique()

In [ ]:
data['price'][data['item']=='주']

In [ ]:
def strip_comma(x):    
    x = x.strip().replace(',', '')
    # print(x)
    return x

In [ ]:
data['price'] = data['price'].apply(lambda x: int(strip_comma(x)))

In [ ]:
data['price'].head(3)

In [ ]:
grouped = data['price'].groupby(data['item'])

In [ ]:
groups = data.groupby('item')

In [ ]:
for name, group in groups:
    print(name, group.price)

In [ ]:
grouped

In [ ]:
grouped.mean()

In [ ]:
grouped.keys

In [ ]:
grouped.size()

In [ ]:
plt.figure(figsize=(10,8))

In [ ]:
# Plot the distribution of the data
fig, ax = plt.subplots()
data['price'].plot.density(ax=ax)
ax.set_xlabel('Values')
ax.set_ylabel('Density')

# Draw the column average line
for i, col in enumerate(df.columns):
    ax.axvline(x=grouped.mean(), color='r', linestyle='--')
plt.savefig(f'example.png')